// =========================
// Colors Variables
// =========================
$primary-color: #C2AB81;
$secondary-color: #FFFFFF;
$background-color: #131313;
$text-color: #FFFFFF;
$post-bg: #ffffff;
$button-text-color: #000000;
$border-color: #333333;
$font-color-primary: #ffffff;
$font-color-secondary: #171717;
$font-color-gray: #666666;
$burger-button-color: #ffffff;
$burger-button-color-hover: #C2AB81;


// =========================
// Fonts Variables
// =========================
$font-primary: 'Montserrat', sans-serif;
$font-size-base: 16px;
$font-size-extra: 42px;
$font-size-xl2: 38px;
$font-size-xl: 36px;
$font-size-large: 24px;
$font-size-small: 14px;
$font-size-xs: 12px;
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-stroke-color: #808080;

// =========================
// Spacing Variables
// =========================
$spacer: 15px;
$spacer-half: calc($spacer / 2);
$spacer-double: calc($spacer * 2);

// =========================
// Breakpoint Variables
// =========================
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// =========================
// Border Radius Variables
// =========================
$border-radius-extra: 60px;

// =========================
// Custom Variables
// =========================
$container-max-width: 1750px;
$animation: 0.2s ease-out;

// =========================
// Buttons Variables
// =========================
$skew: -17deg;
$button-text-color: #ffffff;
$button-primary-color: #C2AB81;
$button-secondary-color: #131313;
$button-border-color: #ffffff;
$button-hover-color: #d3b681;
$button-animation: 0.5s;

// =========================
// Post Variables
// =========================
$post-width: 320px;

// =========================
// Breakpoint Variables
// =========================
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;