// colors
$primary-color: #C2A776;
$secondary-color: #FFFFFF;
$background-color: #131313;
$text-color: #E0E0E0;
$card-bg: #151515;
$button-text-color: #000000;
$border-color: #333333;
$font-color-primary: #ffffff;

// fonts
$font-primary: 'Arial', sans-serif;
$font-size-base: 16px;
$font-size-large: 24px;
$font-size-small: 14px;
$font-weight-bold: 700;
$font-weight-normal: 400;