.button {
  width: 262px;
  height: 60px;
  padding: 21px 25px;
  margin-left: 10px;
  margin-right: 10px;
  transform: skew($skew);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: $font-primary;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: $button-text-color;
  border: 1px solid;

  position: relative;
  // overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 100%;
    background-color: $button-hover-color;
    transition: width $button-animation;
  }

  &:hover::before {
    width: 100%;
  }

  &>span {
    transform: skew(-$skew);
  }
}

.button-primary {
  border-color: $button-primary-color;
  background-color: $button-primary-color;
  transition: border-color $animation;
  position: relative;

  &:hover {
    border-color: $button-hover-color;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: -12px;
    top: 0;
    background-color: $button-border-color;
    height: 100%;
    width: 6px;
  }
}

.button-secondary {
  width: 72px;
  padding: 0;
  border-color: $button-border-color;
  background-color: $button-secondary-color;
  opacity: 0.4;
  transition: opacity border-color $animation;

  &:hover {
    border-color: $button-hover-color;
    opacity: 1;
  }
}



.mobile-nav {

  &__toggle {
    width: 50px;
    height: 50px;
    background: none;
    padding: 5px;
    border: none;
  }

  &__toggle-icon, &__toggle-icon::before, &__toggle-icon::after {
    display: block;
    border-radius: 10px;
    background-color: $burger-button-color;
    transition: background-color $animation;
  }

  &__toggle:hover {
    & > *, > *:before, & > *:after {
      background-color: $burger-button-color-hover;
    }
  }

  &__toggle-icon {
    position: relative;
    width: 31px;
    height: 3px;

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      width: 16px;
      height: 3px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 22px;
      height: 3px;
    }
  }
}