.button {
  width: 282px;
  height: 60px;
  padding: 21px 75px;
  transform: skew($skew);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: $font-primary;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: $button-text-color;
  border: 1px solid;

  position: relative;
  // overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 100%;
    background-color: $button-hover-color;
    transition: width $button-animation;
  }

  &:hover::before {
    width: 100%;
  }

  &>span {
    transform: skew(-$skew);
  }
}

.button-primary {
  border-color: $button-primary-color;
  background-color: $button-primary-color;
  transition: border-color $animation;
  position: relative;

  &:hover {
    border-color: $button-hover-color;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: -15px;
    top: 0;
    background-color: $button-border-color;
    height: 100%;
    width: 10px;
  }
}

.button-secondary {
  width: 92px;
  padding: 0;
  border-color: $button-border-color;
  background-color: $button-secondary-color;
  opacity: 0.4;
  transition: opacity border-color $animation;

  &:hover {
    border-color: $button-hover-color;
    opacity: 1;
  }
}