.header {

  &__wrapper {
    display: flex;
    justify-content:  flex-start;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
    gap: 76px;
  }
}

.nav {
  flex-grow: 1;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  margin-right: 10px;
}