.header {

  &__wrapper {
    display: flex;
    justify-content:  flex-start;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
    gap: 76px;

    @media screen and (max-width: $breakpoint-xxl) {
      justify-content:  space-between;
    }
  }

  &__nav {
    flex: 0 0 auto;

    @media screen and (max-width: $breakpoint-xxl) {
      display: none;
    }
  }

  &__menu-toggle {
    display: none;

    @media screen and (max-width: $breakpoint-xxl) {
      display: block;
    }
  }

}

.nav {
  flex-grow: 1;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  margin-right: 10px;
  width: 100%;

  @media screen and (max-width: $breakpoint-lg) {
    gap: 0;
    margin-left: 25px;
  }
}