.section {}

.hero-section {
  border-top-left-radius: $border-radius-extra;
  border-top-right-radius: $border-radius-extra;
  height: 960px;
  background-image: url('../../assets/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 96px 0;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: $breakpoint-lg) {
    height: 930px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    height: 495px;
    padding: 52px 0;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 54%;
    bottom: 0;
    background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0) 100%);
    transform: rotate(180deg);
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
    min-height: 100%;
  }
}


.hero {
  max-width: 555px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 9;

  @media screen and (max-width: $breakpoint-lg) {
    max-width: 500px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    max-width: 260px;
    gap: 20px;
  }

  &__title {
    font-family: $font-primary;
    font-weight: 700;
    font-size: $font-size-extra;
    text-transform: uppercase;
    color: $secondary-color;
    line-height: 1.2;

    @media screen and (max-width: $breakpoint-lg) {
      font-size: $font-size-xl2;
    }

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 20px;
    }
  }

  &__text {
    opacity: 0.79;

    @media screen and (max-width: $breakpoint-lg) {
      max-width: 450px;
    }

    @media screen and (max-width: $breakpoint-sm) {
      font-size: $font-size-small;
    }

  }

  &__buttton {
    @media screen and (max-width: $breakpoint-sm) {
      max-width: 204px;
        height: 47px;
    }
  }
}