.main {
  position: relative;
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  color: $background-color;
  background-color: $background-color;
  padding: 60px 0;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  &__item {
    font-family: $font-primary;
    font-weight: 700;
    font-size: $font-size-xl;
    line-height: 1.5;
    text-transform: uppercase;

    -webkit-text-stroke: 1px $font-stroke-color;
    text-shadow:
      -1px -1px 0 $font-stroke-color,
      1px -1px 0 $font-stroke-color,
      -1px 1px 0 $font-stroke-color,
      1px 1px 0 $font-stroke-color;

    :hover {
      -webkit-text-stroke: 0px;
      text-shadow: none
    }

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 20px;
    }
  }

  &__link {
    color: inherit;
  }
}


.mobile {

  &__contacts {
    display: none;
    margin-top: 50px;
    flex-direction: column;
    gap: 5px;
    padding-left: 25px;
    padding-right: 25px;

    @media screen and (max-width: $breakpoint-sm) {
      display: flex;
    }

    & .button {
      padding: 0;
      max-width: 100%;
      width: 100%;
    }
    & .button-secondary {
    }
    & .button-primary::after {
      display: none;
    }

  }

}
