.nav {
  // font-family: $font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: right;
  color: #fff;
  text-transform: uppercase;


  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 42px;
  }

  &__item {}

  &__link {
    text-decoration: none;
    color: inherit;
    transition: color $animation;

    &:hover {
      color: $primary-color;
    }
  }
}