.posts-section {
  padding: 130px 0;

  @media screen and (max-width: $breakpoint-lg) {
    padding-top: 17px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding-top: 47px;
  }
}

.section-title {
  padding-bottom: 45px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: $font-size-extra;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 20px;
    padding-bottom: 25px;
  }

}

.posts-wrapper {
  margin-bottom: 60px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($post-width, 1fr));
  justify-content: space-between;
  gap: 20px;

  @media screen and (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
  }
}

.posts-button {
  text-align: center;
}