.posts-section {
  padding: 130px 0;

  @media screen and (max-width: $breakpoint-lg) {
    padding-top: 17px;
  }
}

.section-title {
  padding-bottom: 45px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: $font-size-extra;
}

.posts-wrapper {
  margin-bottom: 60px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
}

.posts-button {
  text-align: center;
}