.body {
  background-color: $background-color;
  color: $font-color-primary;
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: 1.5;
}

.container {
  max-width: $container-max-width;
  width: 100%;
  padding-left: $spacer;
  padding-right: $spacer;
  margin-left: auto;
  margin-right: auto;
}