html {
  scroll-behavior: smooth;
}

.body {
  background-color: $background-color;
  color: $font-color-primary;
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: 1.5;
}

.container {
  max-width: $container-max-width;
  width: 100%;
  padding-left: $spacer;
  padding-right: $spacer;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $breakpoint-lg) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

a {
  text-decoration: none;
  color: $font-color-secondary;
  transition: color $animation;

  &:hover {
    color: $primary-color;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}